<div class="class__section dragend-page">
<img class="section__img" src="/images/desk-white.svg" />
<h1 class="title">The Class</h1>
<p class="text">Our web development class covers
<span class="highlight">HTML</span>, <span class="highlight">CSS</span> and <span class="highlight">Javascript</span>, three differ-
ent languages that are commonly
found in websites and web applications.</p>
<p class="text">
  Learn the skills to get a job in the web
industry. As of 2016, a Stack Overflow
survey found 56% of Developers did not
have a degree.
</p>
<a href="/">
<div id="btn" class="btn btn-main next">Register</div>
</a>
</div>

<div class="class__section dragend-page">
<img class="section__img" src="/images/bookshelf-white.svg" />
<h1 class="title">The Curriculum</h1>
<p class="text">In front of a hiring manager, a portfolio
displaying your work and proven abilities
will outweigh a degree from a university
almost every time. Many four year pro-
grams don’t even teach the latest technol-
ogies.</p>
<p class="text">Our teachers are skilled developers and
engineers with years of experience in the
web industry. Our teacher curated curric-
ulum includes many of the latest tech-
nologies that employers are currently
looking for.
</p>
<a href="/">
<div class="btn btn-main">View Syllabus</div>
</a>
</div>

<div class="class__section dragend-page">
<img class="section__img" src="/images/medal-white.svg" />
<h1 class="title">The Guarantee</h1>
<p class="text">We want every student to truly learn the
material and eventually attain a job in the
industry. We know everyone learns at dif-
ferent speeds and in different ways, this is
why we offer our <span class="highlight">Retake Guarantee</span>. We
allow all students to continue to take our
class as many times as necessary!</p>
<p class="text">Once the class is completed we offer
several services for graduates on our
website, including job listings in the
area and the ability to ask our teachers
any technical related questions.
</p>
</div>

<div class="class__section dragend-page">
<img class="section__img" src="/images/mouse-white.svg" />
<h1 class="title">The Career</h1>
<p class="text">The web industry is in need of coders
and developers due to an untrained
workforce, programming courses aren’t
taught in most primary schools in the
United States.</p>
<p class="text">The median income in for a web devel-
oper is $60,000 and Web Development
isn’t the only position that will be avail-
able with the skills learned from this
course.
</p>
<a href="/">
<div class="btn btn-main">View Job Statistics</div>
</a>
</div>

<div class="class__section dragend-page">
<img class="section__img" src="/images/fountain-pen-white.svg" />
<h1 class="title">Registration</h1>
<p class="text">Please provide email information below and you
receive an email shortly with information on up-
coming classes, cost, and more.</p>
<form class="form">
  <label class="form__label">Name</label>
  <input class="form__input" placeholder="John Smith" />
  <label class="form__label">Email</label>
  <input class="form__input" placeholder="John@gmail.com" />
  <label class="form__label">Location</label>
  <select class="form__input"/>
  <option>Kalamazoo, MI</option>
  <option>Chicago, IL</option>
</select>
  <input class="submit" type="submit" value="submit"/>
</form>
</div>
