<div class="class__section dragend-page">
<img class="section__img" src="/images/desk-white.svg" />
<h1 class="title">The Class</h1>
<p class="text">Our web development class covers
HTML, CSS and Javascript, three differ-
ent languages that are commonly
found in websites and web applications.</p>
<p class="text">
  Learn the skills to get a job in the web
industry. As of 2016, a Stack Overflow
survey found 56% of Developers did not
have a degree.
</p>
<a href="/">
<div id="btn" class="btn btn-main next">Register</div>
</a>
</div>

<div class="class__section dragend-page">
<img class="section__img" src="/images/bookshelf-white.svg" />
<h1 class="title">The Curriculum</h1>
<p class="text">Our web development class covers
HTML, CSS and Javascript, three differ-
ent languages that are commonly
found in websites and web applications.</p>
<p class="text">
  Learn the skills to get a job in the web
industry. As of 2016, a Stack Overflow
survey found 56% of Developers did not
have a degree.
</p>
<a href="/">
<div class="btn btn-main">Register</div>
</a>
</div>

<div class="class__section dragend-page">
<img class="section__img" src="/images/medal-white.svg" />
<h1 class="title">The Guarantee</h1>
<p class="text">Our web development class covers
HTML, CSS and Javascript, three differ-
ent languages that are commonly
found in websites and web applications.</p>
<p class="text">
  Learn the skills to get a job in the web
industry. As of 2016, a Stack Overflow
survey found 56% of Developers did not
have a degree.
</p>
<a href="/">
<div class="btn btn-main">Register</div>
</a>
</div>

<div class="class__section dragend-page">
<img class="section__img" src="/images/mouse-white.svg" />
<h1 class="title">The Career</h1>
<p class="text">Our web development class covers
HTML, CSS and Javascript, three differ-
ent languages that are commonly
found in websites and web applications.</p>
<p class="text">
  Learn the skills to get a job in the web
industry. As of 2016, a Stack Overflow
survey found 56% of Developers did not
have a degree.
</p>
<a href="/">
<div class="btn btn-main">Register</div>
</a>
</div>

<div class="class__section dragend-page">
<img class="section__img" src="/images/fountain-pen-white.svg" />
<h1 class="title">Registration</h1>
<p class="text">Our web development class covers
HTML, CSS and Javascript, three differ-
ent languages that are commonly
found in websites and web applications.</p>
<p class="text">
  Learn the skills to get a job in the web
industry. As of 2016, a Stack Overflow
survey found 56% of Developers did not
have a degree.
</p>
<a href="/">
<div class="btn btn-main">Register</div>
</a>
</div>
